body{
    background-color: #d53032;
    height: 2000px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnGN9fodv_w_nQP6dTZiOL-8wjq2C2ws_aOyiKg4wv3XA2a93wFO1ObPP9N37rx1rP7sc&usqp=CAU); 
    background-position: center;
    margin: 0%;
    padding: 0%;
    
}

main{
    height: 50%;
}

header{
    background-color: rgba(180, 236, 187, 0.733)733; 
    
}

nav{
    background-color: rgb(2, 2, 2);
    width: 100%;
   
    background-size: cover;
    background-position: center;
    }
    .menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    }
    .lista a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 15px 50px;
    }
    
    .menu .lista{
        display: inline-block;
    }
   
    .lista a:hover{
        background-color: indigo;
    }
    
    input{
    border: 0;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    background-color: rgba(22, 66, 110, 0.6);
    }
    
    label{
    font-size: 22px;
    font-weight: 600;
    
    }

    button[type="submit"]{
    
    background-color: indigo;
    color: white;
    padding: 10px;
    font-family: 20px;
    font-weight: 600;
    border-radius: 5px;
    }
    
    input::placeholder{
    color: white;
    }
    
    input:focus{
    
        outline: none;
        background-color: rgba(188, 248, 49, 0.9);
    }

    

